/* This container includes our table and our canvas. */
.center-container {
    /*This property sets the width of our container. */
    width: 608px;
    /* This porperty sets the width of our container. */
    margin: 0 auto;
    /* 50 px down from the top */
    margin-top: 50px;
}

table {
    /* This property collapse table borders into 1 border. */
    border-collapse: collapse;
    /* This hides outer borders on table. */
    border-style: hidden;
}

td {
    /* This property changes the cursor to the index ginfer hand when we hover
    over td elements. */
    cursor: pointer;
    /* This property sets our table border style. */
    border: 4px solid rgba(119, 3, 252, 0.61);
    /* This property removes default padding */
    padding: 0px;
    width: 200px;
    height: 200px;
}

canvas {
    /* This property sets the position of our canvas to the top left corner of our container. */
    position: absolute;
    /* This property places our canvas over the top of our table */
    z-index: 10;
    /* This property makes our canvas invisible */
    pointer-events: none;
}

h1 {
    /* this will center my h1 heading to the center of the page. */
    text-align: center;
}
